.gameBoxOverlay {
  position: fixed;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  z-index: 1;
}

.gameBox {
  padding: 25px 40px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(15px);
}
.gameButton {
  background-color: rgba(0, 128, 0, 0.5);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  backdrop-filter: blur(15px);
  cursor: pointer;
  transition: all 0.3s ease-out;
  font-size: 16px;
}
.gameButton:hover {
  scale: 1.05;
}
