.top {
  display: flex;
}

.bottom {
  display: flex;
}

.end-class-button {
  padding: 5px 10px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 5px;
  margin-bottom: 10px;
}
