/*  나중에 */
div.btn-usertype button {
  width: 100px !important;
  height: 100px !important;
  padding: 20px;
  margin: 10px;
  background-color: black;
  color: black !important;
  border: none;
  border-radius: 5px;
  font-size: 20px !important;
  cursor: pointer;
}
