.score-and-feedback-container {
  border: 1px solid #ccc;
  width: 300px;
  height: 350px;
}

.teacher-score {
  background-color: transparent;
}

.feedback-textarea {
  background-color: transparent;
}
