.registerForm {
  width: 300px;
  background-color: white;
  border-radius: 10px;
  padding: 25px 20px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.errorMessage {
  color: red;
  font-size: 14px;
  margin: 0px;
}
.title {
  font-size: 24px;
  margin: 0 0 20px 0;
  color: #333;
}
.nameBox {
  width: 260px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.nameInput {
  width: 190px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 16px;
  box-sizing: border-box;
}
.nameInput:focus,
.phoneInput:focus,
.selectBox:focus {
  outline: 2px solid green;
}
.nameLabel {
  white-space: nowrap;
}
.phoneBox {
  width: 260px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.phoneInput {
  width: 190px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 16px;
  box-sizing: border-box;
}
.phoneLabel {
  white-space: nowrap;
}
.birthdayInfo {
  width: 260px;
  display: flex;
  justify-content: space-between;
  margin: 0 0 20px 0;
  align-items: center;
}
.selectBox {
  padding: 5px 5px;
  font-size: 16px;
  margin: 0 2px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.genderBox {
  margin-bottom: 20px;
}
.genderInput {
  margin: 0 7px;
}
.genderInput:checked {
  outline: 2px solid green;
}
.btnBox {
  width: 260px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
.goBackBtn {
  color: #666;
}
.registerBtn {
  background-color: green;
  color: white;
  font-size: 16px;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  transition: all 0.2s ease-out;
}
.registerBtn:hover {
  transform: scale(1.03);
}
.selectBox {
  padding: 7px 5px;
  font-size: 16px;
  margin: 0 2px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.genderInput input[type="radio"] {
  accent-color: green;
  width: 16px;
  height: 16px;
}
