body {
  /*나무 사진 미정이라 임시로*/
  background-color: rgb(138, 194, 148);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

form.login-form button:hover {
  background-color: green;
}

form.login-form {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

form.login-form input {
  width: 100%;
  padding: 12px;
  margin: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 15px;
  box-sizing: border-box;
}
form.login-form button {
  padding: 12px;
  margin: 20px;
  background-color: #bbb;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  cursor: pointer;
}

.teachererrorMessage {
  color: red;
  font-size: 14px;
}

form.login-form {
  width: 400px;
  padding: 40px;
}

.teacher-login-form {
  width: 300px;
  background-color: white;
  border-radius: 10px;
  padding: 25px 20px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

.teacher-login-id-input {
  width: 200px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 16px;
}

.teacher-login-pw-input {
  width: 185px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 16px;
}

.teacher-login-id-label,
.teacher-login-pw-label {
  white-space: nowrap;
}
.teacher-login-pw-box {
  margin: 5px 0 40px 0;
}
.teacher-login-btn-box {
  display: flex;
  justify-content: space-between;
  width: 260px;
  align-items: center;
}
.teacher-login-register-a {
  color: #666;
}
.teacher-login-login-btn {
  background-color: green;
  color: white;
  padding: 7px 13px;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  cursor: pointer;
  box-sizing: border-box;
}
.teacher-login-title {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}
