feedback-list body {
  font-family: Arial, sans-serif;
  margin: 0;
  /* padding-left: 20px; */
}

/* 학생 기본 정보 */
#student-default-info,
#student-total-opinion {
  margin-bottom: 40px;
}

#student-default-info {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px 20px;
}

.student-info-name-gender {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  margin-bottom: 6px;
}
.student-info-name {
  margin: 0;
  font-size: 28px;
}
.student-info-birthday {
  margin-bottom: 3px;
  color: #777777;
}
.student-info-phone {
  margin-bottom: 3px;
  color: #777777;
}
.student-info-gender {
  margin: 0;
}

.total-emotion-data-div {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 10px;
  margin-top: 3px;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px 10px 17px 10px;
}
.total-emotion-data-div-item {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-evenly;
  margin: 3px 0;
}
.total-emotion-data {
  font-weight: 400;
  margin-top: -3px;
}
.student-info-save-total-feedback {
  position: absolute;
  right: 5px;
  bottom: 5px;
  padding: 5px 10px;
  background-color: green;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.2s ease-out;
}
.student-info-save-total-feedback:hover {
  transform: scale(1.05);
  right: 6px;
  bottom: 6px;
}

.total-feedback {
  position: relative;
}

#feedback-date {
  color: #333;
}
.student-info-gpt-opinion {
  margin: 13px 0 17px 0;
}
.student-info-gpt-opinion-title {
  margin: 0 0 3px 0;
  color: #999;
  font-size: 14px;
}
.student-info-gpt-opinion-content {
  margin: 0;
  color: #333;
}
/* 종합 피드백 (학생 기본 정보 느낌) 스타일 */
.total-feedback-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  margin-right: 30px;
}

/* 수정 버튼 */
#edit-total-feedback {
  padding: 5px 10px;
  background-color: #515151;
  color: white;
  border: none;
  cursor: pointer;
}

#edit-total-feedback:hover {
  background-color: #3d3d3d;
}

/* 완료 버튼 */
#save-total-feedback {
  padding: 5px 10px;
  background-color: #515151;
  color: white;
  border: none;
  cursor: pointer;
}

#save-total-feedback:hover {
  background-color: #3d3d3d;
}

/* total-feedback 스타일 */
#total-feedback-input {
  width: 100%;
  height: 80px;
  font-size: 16px;
  resize: vertical;
  background-color: transparent;
  border-radius: 8px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  resize: vertical;
  padding: 5px 5px 30px 5px;
}

/* 이전 기록 데이터 스타일 */
.emotion-data-div {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 10px;
  margin-top: 10px;
}

.previous-feedback-detail {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px 10px;
  margin-bottom: 10px;
}

.history-detail table {
  width: 100%;
  border-collapse: collapse;
}

.history-detail th:nth-child(1),
.history-detail td:nth-child(1) {
  width: 20%;
}

.history-detail th:nth-child(2),
.history-detail td:nth-child(2) {
  width: 10%;
}

.history-detail th:nth-child(3),
.history-detail td:nth-child(3) {
  width: 70%;
}

.history-detail-score {
  text-align: center;
  border-left: solid 1px #ccc;
  border-right: solid 1px #ccc;
  padding-bottom: 5px;
}
.history-detail-opinion {
  padding-left: 5px;
}
/* #previous-feedback p {
  margin-left: 13px;
} */

#feedback-details {
  margin-top: 10px;
  font-size: 14px;
  color: #555;
}

.feedback-list {
  position: fixed;
  top: 0;
  right: 0;
  width: 350px;
  height: 100%;
  background-color: #f9f9f9;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
  padding: 20px 25px 20px 35px;
  z-index: 1000;
  overflow-y: auto;
  transition: transform 0.3s ease-in-out;
}

.close-feedback-list {
  background: none;
  border: none;
  color: #333;
  font-size: 18px;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  padding: 0;
}

.feedback-button {
  background-color: #4caf50;
  color: white;
  padding: 8px 12px;
  border: none;
  cursor: pointer;
}

.feedback-button:disabled {
  background-color: #ddd;
  cursor: not-allowed;
}

.error-message {
  color: red;
  margin-left: 20px;
}

#student-total-opinion p {
  margin: 0 0 0 3px;
}
