/* 선생님 이름 가운데 정렬 */
#teacher-name {
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  margin: 10px 0;
}

/* 학생 리스트 아이템 */
.student-select {
  border: 1px solid #777777;
  border-radius: 100px;
  background-color: #fafafa;
  display: flex;
  padding: 6px;
  margin: 10px 0;
  margin-right: 30px;
}

/* 학생 이름 스타일 */
.student-name {
  font-weight: 400;
  font-size: 28px;
  padding-top: 17px;
  padding-left: 30px;
  margin-right: 20px;
}

/* 성별과 생일 정보 */
.student-gender,
.student-birthday {
  font-size: 22px;
  color: #777777;
  margin-right: 10px;
}

/* '자세히 보기' 버튼 스타일 */
.student-is-online {
  border-radius: 100px;
  background-color: #eaeaea;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  font-size: 18px;
  margin-left: auto;
}

.student-is-online:hover {
  background-color: #cccccc;
}

#student-add {
  border-radius: 100px;
  background-color: #eaeaea;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 18px;
  transition: 0.1s ease-out;
}

#student-add:hover {
  background-color: #cccccc;
  transform: scale(1.03);
}

.teacher-home-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0 30px 0;
}
.teacher-home-logout {
  text-decoration: underline;
  color: #666;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 16px;
}
.teacher-home-student-list {
  padding: 0;
}
.teacher-home-student-item {
  background-color: white;
  border-radius: 15px;
  padding: 10px;
  margin: 10px 0;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
  list-style: none;
  display: flex;
  cursor: pointer;
  align-items: center;
  transition: 0.1s ease-out;
  justify-content: space-between;
}
.teacher-home-student-info {
  display: flex;
  align-items: center;
}
.teacher-home-student-item:hover .teacher-home-student-name {
  transform: scale(1.03);
  transition: 0.1s ease-out;
  text-decoration: underline;
}
.teacher-home-student-name {
  font-size: 22px;
  font-weight: 600;
  margin: 0 10px 0 10px;
  transition: 0.1s ease-out;
  color: #333;
}
.teacher-home-student-gender,
.teacher-home-student-birthday {
  font-size: 18px;
  color: #777777;
  margin: 0 10px 0 0;
}
.teacher-home-student-game-start {
  margin: 0 0 0 20px;
  border-radius: 10px;
  padding: 10px 10px;
  border: none;
  cursor: pointer;
  font-size: 18px;
  background-color: #f0f0f0;
  transition: 0.1s ease-out;
}
.teacher-home-student-game-start:hover {
  transform: scale(1.03);
  background-color: green;
  color: white;
}
.teacher-home-student-add {
  border-radius: 10px;
  padding: 10px 10px;
  border: none;
  cursor: pointer;
  font-size: 18px;
  background-color: #f0f0f0;
  transition: 0.1s ease-out;
  float: right;
}
.teacher-home-student-add:hover {
  background-color: #e0e0e0;
}

#go-back {
  border: none;
  background-color: transparent;
  font-size: 16px;
  cursor: pointer;
  text-decoration: underline;
  color: #666;
  margin-top: 8px;
}

.teacher-home {
  min-width: 300px;
}
