.question-container {
  display: flex;
  flex-direction: column;
  width: 1170px;
  height: 320px;
  overflow-y: auto;
  overflow-x: hidden;
  max-width: 100%;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  padding-left: 30px;
  box-sizing: border-box;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.question-container ul {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  padding: 10px 0;
  list-style-type: none;
  white-space: nowrap;
}

.question-container button {
  width: 165px;
  height: 120px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  background-size: cover;
  transition: 0.3s ease;
  background-size: contain;
  background-position: center;
  padding: 0;
}

.question-image {
  width: 100%;
  object-fit: cover;
  object-position: center;
  clip-path: inset(25% 25% 25% 25%);
  transform: scale(2);
}
