.classroom-container {
  max-width: 1600px;
  margin: 0 auto;
  padding: 10px;
  box-sizing: border-box;
}

.classroom-container > * {
  max-width: 100%;
  box-sizing: border-box;
  overflow: hidden;
}

.top {
  display: flex;
  height: 330px;
}

.bottom {
  display: flex;
  margin-bottom: 10px;
  height: 330px;
}

.student-id {
  font-size: 20px;
  font-weight: bold;
}

.end-class-button {
  padding: 10px 15px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 7px;
  cursor: pointer;
}

.video-container {
  position: relative;
  display: inline-block;
  width: 100%;
}
.student-video-at-teacher {
  width: 232.5px;
  height: 310px;
  margin: 0 83.75px 10px 83.75px;
  transform: scaleX(-1);
  object-fit: cover;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border: 1px solid #ccc;
  box-sizing: border-box;
  background-color: #ccc;
}
.teacher-video {
  width: 380px;
  height: 310px;
  margin: 0 10px 10px 10px;
  transform: scaleX(-1);
  object-fit: cover;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border: 1px solid #ccc;
  box-sizing: border-box;
  background-color: #ccc;
}

.cam-loading {
  width: 400px;
  align-items: center;
  justify-content: center;
  display: flex;
  padding: 50px;
  margin-right: 10px;
  box-sizing: border-box;
  background-color: #ccc;
  height: 320px;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.questionImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  pointer-events: none;
}
.problem-image-overlay-for-teacher {
  position: absolute;
  top: 70%;
  left: 45%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 300px;
  z-index: 10; /* 다른 요소 위에 표시되도록 설정 */
  border: none;
  outline: none;
  display: none;
  opacity: 0.9;
}

.problem-image-overlay-for-teacher[src]:not([src=""]) {
  display: block;
}

.teacher-animation-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 232.5px;
  margin-left: 82px;
  height: 100%;
  display: flex;
  pointer-events: none;
  z-index: 10;
  overflow: hidden;
}

.media-set {
  border-color: #ccc;
  margin-left: 5px;
  border-radius: 10px;
  padding: 8px 10px;
  border: 1px solid #ccc;
}

/* 학생 게임화면 css */
.video-overlay-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.student-video-at-student {
  width: 100%;
  height: auto;
  z-index: 1; /* 비디오가 기본 레이어 */
  transform: scaleX(-1);
}

.problem-image-overlay {
  position: absolute;
  top: 70%;
  left: 45%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 300px;
  z-index: 10; /* 다른 요소 위에 표시되도록 설정 */
  border: none;
  outline: none;
  display: none;
}

.problem-image-overlay[src]:not([src=""]) {
  display: block;
}

.student-video {
  width: 100%;
  max-width: 380px;
  height: auto;
  margin: 20px 10px 10px 10px;
  transform: scaleX(-1);
  object-fit: cover;
}

.student-animation-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 232.5px;
  margin-left: 82px;
  height: 100%;
  display: flex;
  pointer-events: none;
  z-index: 10;
  overflow: hidden;
}

.problem-text-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  font-weight: bold;
  padding: 0 20px;
  margin: 20px 0;
}

/* 문제 텍스트 */
.problem-text {
  margin: 0;
  font-size: 18px;
  text-align: center;
  color: #333;
}

.problem-placeholder {
  margin: 20px 0;
  font-size: 14px;
  text-align: center;
  color: gray;
}

.plz-resize-message {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  font-size: 36px;
  backdrop-filter: blur(10px);
  color: rgba(255, 255, 255, 0.9);
  font-weight: bold;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 20px;
  background-color: transparent;
}

.student-info {
  padding: 10px 15px;
  background-color: #807e7e;
  color: white;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  margin-right: 10px;
}

.video-container-for-student-box {
  /*
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  */
  position: relative;
  display: inline-block;
  width: 400px;
  height: 100vh;
  background-color: #8ac294;
}

.student-container {
  height: 100vh;
  width: 100vw;
  background-image: url("./background-blur.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-blend-mode: darken;
  background-color: rgba(0, 30, 0, 0.15);
  display: flex;
  justify-content: center;
  align-items: center;
}

.student-video-for-student {
  /*
  width: 280px;
  height: calc(280px * 4 / 3);
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: #ccc;
  transform: scaleX(-1);
  object-fit: cover;
  */
  width: 232.5px;
  height: 310px;
  margin: 0 83.75px 10px 83.75px;
  transform: scaleX(-1);
  object-fit: cover;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border: 1px solid #ccc;
  box-sizing: border-box;
  margin-top: 40px;
  background-color: #ccc;
}
.video-overlay-container-for-student {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.teacher-video-at-student {
  background-color: #ccc;
  transform: scaleX(-1);
  object-fit: cover;
  width: 90%;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 330px;
}

.loaderAtRoom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.spinnerAtRoom {
  width: 15px;
  aspect-ratio: 1;
  --_g: no-repeat radial-gradient(farthest-side, #666 94%, #0000);
  background: var(--_g) 0 0, var(--_g) 100% 0, var(--_g) 100% 100%,
    var(--_g) 0 100%;
  background-size: 40% 40%;
  animation: l38 0.8s infinite;
  margin-top: 30px;
}
@keyframes l38 {
  100% {
    background-position: 100% 0, 100% 100%, 0 100%, 0 0;
  }
}
