.selected-question-container {
  width: 330px;
  height: 310px;
  margin: 0 0;
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

.selected-question {
  width: 100%;
  height: 85%;
  margin: 0;
  padding: 13px 0 0 13px;
  box-sizing: border-box;
  overflow: hidden;
}

#question-description-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  gap: 10px;
}

#question-description {
  font-size: 16px;
  color: #333;
  margin: 0;
}

.send-question-disabled {
  background-color: #807e7e;
  cursor: not-allowed;
}
.send-question-disabled:hover {
  background-color: #807e7e;
  cursor: not-allowed;
}

#send-question {
  padding: 8px 16px;
  background-color: #807e7e;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 14px;
  border-radius: 4px;
}

#send-question:hover {
  background-color: #3d3d3d;
}

.question-container button:hover {
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.3);
}
.question-container button:active {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

/*선택된 버튼에 그림자 효과*/
.question.selected {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.header {
  display: flex;
}

.no-selected-question-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  backdrop-filter: blur(20px);
  border-radius: 20px;
}

.no-selected-question-overlay-text {
  font-size: 18px;
  color: #666;
  text-align: center;
  margin: 0;
  padding: 20px;
}

.selected-image {
  width: 100%;
  height: 85%;
  object-fit: contain;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 20px;
}
