/* 전체 부분 스타일 */
html,
body {
  height: 100%;
  margin: 0;
  overflow: hidden;
  background-color: #fdf3f3;
}

/* 애니메이션 기본 스타일 */
.rain {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  overflow: hidden;
}

/* 배경 애니메이션 스타일 */
.rain-back-row {
  z-index: 1;
  opacity: 0.5;
}

.rain-front-row {
  height: 500px; /*이모지 시작 위치 조정*/
}

/* 이모지 떨어지는 애니메이션 기본 스타일 */
.drop {
  position: absolute;
  bottom: 120%;
  width: 20px;
  height: auto;
  font-size: 1.5rem;
  pointer-events: none;
  opacity: 0;
  animation: drop 5s linear infinite;
  animation-fill-mode: forwards;
}

/* 이모지 떨어지는 애니메이션 키프레임 */
@keyframes drop {
  0% {
    transform: translateY(0);
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    transform: translateY(90vh);
    opacity: 1;
  }
  100% {
    transform: translateY(100vh);
    opacity: 0;
  }
}
