.home-container {
    height: 100vh;
    /* background: url("asd_backend\public\images\backgrounds\1.jpg") no-repeat center; */
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .home-content {
    text-align: center;
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
  }
  